#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
}

html,
body,
#root,
.App,
.App>div {
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;

}

.toolbar {
  background-color: black;

}

.homePage {
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
}

h2 {
  color: white;
}

.exerciseList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.exerciseArea {
  background-color: rgba(1, 112, 167, 0.6);
  margin: 1%;
  height: 50px;
  margin-bottom: 5%;
  flex: 0 0 25%;
  padding: 0;
}


/*   for serach box */
.searchBar {
  flex-direction: row;
  justify-content: end;
}

#filter-options {
  color: white;
}

#searchForm {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

#searchInput{
  margin: 0;
  padding-bottom: 10px;
  color: white;
  border: solid 1px white;
  border-radius: 10px;
}

#searchInput:hover{
  margin: 0;
  padding-bottom: 10px;
  background-color: #1c242c;
  color: white;
  border-radius: 10px;
}

#filterDrawer{
  /* border: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), 
  linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%),
   linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%); 
   background-blend-mode: normal,color-burn; */
}

/* targetOptions */
.targetOptions{
  display: grid;
  /* grid-auto-flow: column;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 45%);  */
  /* overflow: auto; */
  /* height: 200px; */
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
}

.targetOptions > span{
  border:solid 1px rgb(177, 174, 174);
  text-align: center;
  height: 50px;
  width: 100px;
  margin: 2%;
  flex-wrap: wrap;
} 

