.scrollbar-container::-webkit-scrollbar {
  width: 20px;
}
.scrollbar-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: #b3bcbe;
}

.MuiButtonBase-root:focus {
  outline: none;
}
.dialog-container {
  color: black;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dialog-header button:hover {
  background-color: #feb6ba;
}

.link-button {
  background-color: #000000;
  font-weight: "bold";
  border-radius: 10px;
  margin-left: 5vw;
  background-color: #000000;
  padding: 10px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link-button:hover {
  background-color: #feb6ba;
  color: white;
}

.link-button::after {
  color: white;
}

.dark .img-container {
  filter: invert(1) hue-rotate(170deg);
}