.scrollbar-container::-webkit-scrollbar {
  width: 20px;
}
.scrollbar-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: #b3bcbe;
}

.MuiButtonBase-root:focus {
  outline: none;
}
.dialog-container {
  color: black;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
