.searchBox {
    flex-grow: 3;
}

.filterBtn {
    flex-grow: 1;
}

#searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#searchInput {
    margin: 0;
    padding-bottom: 10px;
    border-radius: 10px;
    flex-grow: 4;
}

#searchInput:hover {
    margin: 0;
    padding-bottom: 10px;
    border-radius: 10px;
}